:root {
  --gray: #222;
  --light: #aaa;
  --smoke: #f5f5f5;
  --blue: #00aeff;
  --highlight: #ffff0269;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--smoke);
}

.hidden {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  border-radius: 0.1rem;
  width: 30rem;
  box-shadow: 0.1rem 0.1rem 0.5rem var(--gray);
  background-color: var(--smoke);
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--light);
  padding: 1rem;
  background-color: white;
}

.icon {
  color: var(--gray);
}

li > .icon:hover {
  cursor: move;
}

.title {
  color: var(--gray);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--light);
  padding: 0.5rem 1rem;
  background-color: white;
}

#todo {
  width: 90%;
  border: none;
  outline: none;
  font-size: inherit;
}

#submit {
  width: 10%;
  border: none;
  padding: 0.5rem 0;
  border-radius: 0.1rem;
}

#list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.items {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid var(--light);
  top: 0;
  left: 0;
  z-index: 0;
}

.dragging {
  border: 1px solid var(--blue);
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.3rem var(--gray);
  transform: scale(0.98);
  z-index: 1;
}

.no-event {
  pointer-events: none;
}

.active {
  background: var(--highlight);
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.task > p {
  text-transform: capitalize;
  width: 100%;
  user-select: none;
}

.todoEdit {
  font-size: 1.25rem;
  color: var(--gray);
  border: none;
  outline: none;
  text-transform: capitalize;
  background: transparent;
  width: 100%;
}

#clear {
  font-size: inherit;
  color: var(--light);
  border: none;
  font-weight: 300;
  margin: 1rem auto;
}

#clear:hover {
  text-decoration: underline;
  color: var(--gray);
}
